<sky-demo-page title="Checkbox">
  <sky-demo-page-summary>
    <p>
      The checkbox component is a SKY UX-themed replacement for the HTML <code>input</code> element of <code>type="checkbox"</code>. The value that is selected is driven through the <code>ngModel</code> attribute specified on the input element.
    </p>
  </sky-demo-page-summary>

  <sky-demo-page-example>
    <sky-checkbox-demo></sky-checkbox-demo>
  </sky-demo-page-example>

  <sky-demo-page-code demoName="Checkbox"></sky-demo-page-code>
  
  <sky-demo-page-guidelines>
    <p>Use checkboxes when you have a list of 2-5 values and users can select multiple values.</p>
    <p>Related guidelines:</p>
      <ul>
        <li><a href="http://skyux.developer.blackbaud.com/guidelines/select-items/">Selecting items from a list</a></li>
      </ul>
  </sky-demo-page-guidelines>
  
  <sky-demo-page-accessibility>
    <p>When using multiple checkboxes or radio buttons as a group, use <code>fieldset</code> and <code>legend</code> elements to provide semantic structure. These elements group the related input fields and provide the <code>legend</code> text with the controls in the <code>fieldset</code> to people using assistive technology. For more information on how to use <code>fieldset</code> and <code>legend</code>, see <a href="http://webaim.org/techniques/forms/controls#checkbox">WebAIM examples and guidance</a>.</p>
  </sky-demo-page-accessibility>
  
</sky-demo-page>
